@using Beauty_Salon.Service

<section id="intro" class="wrapper style1 fullscreen fade-up">
    <div class="inner">
        <h1>@Config.CompanyName</h1>
        <h2>Ваша красота - наша профессия</h2>
        <p>
            Новый, уютный салон «Красота от А до Я» приглашает Вас по адресу: г. Екатеринбург, ул.Библиотечная 45.
            У нас Вы получите не только высококачественные услуги, по реально-доступным ценам, с дружеской атмосферой и эстетическим удовольствием для глаз, но и отличное настроение!
        </p>
        <ul class="actions">
            <li><a href="#one" class="button scrolly">Узнать больше</a></li>
        </ul>
    </div>
</section>