@using Beauty_Salon.Service

<section id="three" class="wrapper style1 fade-up">
<div class="inner">
    <h2>Контакты</h2>
    <p>У вас есть вопросы? Мы с радостью ответим на каждый из них</p>
    <div class="split style1">
        <section>
            <form method="post" action="#">
                <div class="fields">
                    <div class="field half">
                        <label for="name">Ваше имя</label>
                        <input type="text" name="name" id="name" />
                    </div>
                    <div class="field half">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email" />
                    </div>
                    <div class="field">
                        <label for="message">Сообщение</label>
                        <textarea name="message" id="message" rows="5"></textarea>
                    </div>
                </div>
                <ul class="actions">
                    <li><a href="" class="button submit">Отправить</a></li>
                </ul>
            </form>
        </section>
        <section>
            <ul class="contact">
                <li>
                    <h3>Адрес</h3>
                    <span>г. Екатеринбург <br/>
                        ул. Библиотечная 45</span>
                </li>
                <li>
                    <h3>Телефон</h3>
                    <span>@Config.CompanyPhone</span>
                </li>
                <li>
                    <h3>Мы в социальных сетях</h3>
                    <ul class="icons">
                        <li><a href="@Config.CompanyInstagram" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                    </ul>
                </li>
            </ul>
        </section>
    </div>
</div>
</section>