@using Beauty_Salon.Service
<header id="header" class="alt">
    <span class="logo"><img src="/images/logo .png" alt="" /></span>
    <h1>@Config.CompanyName</h1>
    <p>Ваша красота - наша профессия</p>
</header>