<section id="one" class="wrapper style2 spotlights">
    <section>
        <a href="#" class="image"><img src="images/ladycut.jpg" alt="" data-position="center center" /></a>
        <div class="content">
            <div class="inner">
                <h2>Женский зал</h2>
                <ul class="actions">
                    <li><a href="generic.html" class="button">Прайс</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <a href="#" class="image"><img src="images/mancut.jpg" alt="" data-position="top center" /></a>
        <div class="content">
            <div class="inner">
                <h2>Мужской зал</h2>
                <ul class="actions">
                    <li><a href="generic.html" class="button">Прайс</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <a href="#" class="image"><img src="images/manikur.jpg" alt="" data-position="25% 25%" /></a>
        <div class="content">
            <div class="inner">
                <h2>Маникюр</h2>
                <ul class="actions">
                    <li><a href="generic.html" class="button">Прайс</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <a href="#" class="image"><img src="images/pedicur.jpg" alt="" data-position="25% 25%" /></a>
        <div class="content">
            <div class="inner">
                <h2>Педикюр</h2>
                <ul class="actions">
                    <li><a href="generic.html" class="button">Прайс</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <a href="#" class="image"><img src="images/shugaring_woman.jpg" alt="" data-position="25% 25%" /></a>
        <div class="content">
            <div class="inner">
                <h2>Шугаринг женский</h2>
                <ul class="actions">
                    <li><a href="generic.html" class="button">Прайс</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <a href="#" class="image"><img src="images/man_shugaring.jpg" alt="" data-position="25% 25%" /></a>
        <div class="content">
            <div class="inner">
                <h2>Шугаринг мужской</h2>
                <ul class="actions">
                    <li><a href="generic.html" class="button">Прайс</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <a href="#" class="image"><img src="images/criosauna.jpg" alt="" data-position="25% 25%" /></a>
        <div class="content">
            <div class="inner">
                <h2>Криосауна</h2>
                <ul class="actions">
                    <li><a href="generic.html" class="button">Прайс</a></li>
                </ul>
            </div>
        </div>
    </section>
</section>