<section id="first" class="main special">
                <header class="major">
                    <h2>Наши услуги</h2>
                </header>
                <ul class="spotlight">
                    <li>
                        <span class="image"><img src="images/introduction.jpg" alt="" /></span>
                        <h3>Женский зал</h3>
                        <p>Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.</p>
                    </li>
                    <li>
                        <span class="image"><img src="images/introduction.jpg" alt="" /></span>
                        <h3>Мужской зал</h3>
                        <p>Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.</p>
                    </li>
                    <li>
                        <span class="image"><img src="images/introduction.jpg" alt="" /></span>
                        <h3>Шугаринг женский</h3>
                        <p>Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.</p>
                    </li>
                    <li>
                        <span class="image"><img src="images/introduction.jpg" alt="" /></span>
                        <h3>Шугаринг мужской</h3>
                        <p>Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.</p>
                    </li>
                    <li>
                        <span class="image"><img src="images/introduction.jpg" alt="" /></span>
                        <h3>Маникюр</h3>
                        <p>Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.</p>
                    </li>
                    <li>
                        <span class="image"><img src="images/introduction.jpg" alt="" /></span>
                        <h3>Педикюр</h3>
                        <p>Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.</p>
                    </li>
                    <li>
                        <span class="image"><img src="images/introduction.jpg" alt="" /></span>
                        <h3>Перманентный макияж</h3>
                        <p>Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.</p>
                    </li>
                    <li>
                        <span class="image"><img src="images/introduction.jpg" alt="" /></span>
                        <h3>Криосауна</h3>
                        <p>Sed lorem amet ipsum dolor et amet nullam consequat a feugiat consequat tempus veroeros sed consequat.</p>
                    </li>
                </ul>
                <footer class="major">
                    <ul class="actions special">
                        <li><a href="generic.html" class="button">Learn More</a></li>
                    </ul>
                </footer>
            </section>