<section id="sidebar">
    <div class="inner">
        <nav>
            <ul>
                <li><a href="#intro">О салоне</a></li>
                <li><a href="#one">Наши услуги</a></li>
                <li><a href="#three">Контакты</a></li>
            </ul>
        </nav>
    </div>
</section>